@model College.Models.Delinquent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Delinquent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PunishmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunishmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PunishmentLenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunishmentLenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DelinquentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
